name: Hourly Apex Scan
on:
  schedule:
    # Runs every hour from 04:30 to 11:30 UTC (10:00 AM to 5:00 PM IST)
    - cron: '30 4-11 * * 1-5'
  workflow_dispatch: # This allows you to trigger it manually for testing

jobs:
  run-scanner:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Execute Scan
        env:
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        run: python worker.py
